.services{
    background: url(../images/bg-2.png) no-repeat;
    background-position: center;
    min-height: 100vh;
  }
  
  .services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
  .services .box-container .box{
    text-align: center;
  }
  
  .services .box-container .box img{
    margin: 1rem 0;
    height: 20rem;
  }
  
  .services .box-container .box h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--secondary);
  }
  
  .services .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 2;
  }
